@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,300);

* {
	margin: 0;
	padding: 0;
}
body{
	color: #000;
	font: normal 18px 'Titillium Web', sans-serif;
	min-width: 1300px;
}
img{	
	border: 0;
}		
a{
	outline: none;
	text-decoration: none;
}
}	
ul li{
	list-style: none;
}		

input, textarea, select, button{
	font: normal 16px 'Titillium Web', sans-serif;
	outline: none;	
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
	text-align: center;
}
	
/* Layout
----------------------------------*/
.container
{
padding: 0 12%;
}

.button
{
  margin: auto;
  border-radius: 4px;
  width: 293px;
  text-align: center;
}

.button a
{
color: #fff;
display: block;
padding: 25px 0 25px 0;
text-transform: uppercase;
cursor: default;
}

.button a:hover
{
-webkit-box-shadow: 0 0 10px 1px #737CFF;
box-shadow: 0 0 10px 1px #737CFF;
}

.left{margin: 0;}

.mid{margin: auto;}

.right{margin: 0 0 0 auto;}

.logo
{
	margin: 56px 0 0 40px;
	width: 125px;
	height: 45px;
	background: url("../images/layout/logo.png") no-repeat 0 0;
	float: left;
	text-indent: -90000px;

}

.menu
{
	margin: 60px 0 0 0;
	float: right;
	height: 50px;
    max-width: 900px;
}

.menu li
{
	display: inline-block;
	height: 41px;
    margin: 0 12px 0 0;
    float: left;

}

.menu li a
{
    height: 21px;
    padding: 10px 15px;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 6px;
}

.menu li a:hover ,.menu li.active a
{
background-color: #643a79;
color: #cac0d0;	
}

.text-hi
{
width: 900px;
margin: 0 auto 60px;
}

.text-hi h1{ 
    font: 38px 'Titillium Web';
    color: #f7f3ea;
    font-weight: bold;
}

.wrapper
{
	padding-bottom: 150px;
	width: 1120px;
    margin: auto;
}

.header
{
	position: relative;
	height: 101px;
	overflow: hidden;
    margin-bottom: 140px;
}

.purple
{
	background-color: #87509c;
}

.purple .button
{
	background-color: #eb7d4b;
	box-shadow:inset 0 -4px 0 0 #c86a40;
}


.green
{
	background-color: #17c2a4;
}

.green h1, .green p, .green h2 {color: #fff;}


.info-name
{
	font: 40px 'Titillium Web';
    font-weight: bold;
    padding: 120px 0 10px 0;
    text-transform: uppercase;
}

.line
{
	height: 4px;
	width: 87px;
	background-color: #2F1B1B;
	opacity: 0.1;
	margin: auto;
}

.more-info
{
	width: 593px;
	margin: auto;
	padding: 25px 0 0 0;
	text-align: center;
	line-height: 1.4;
	margin-bottom: 50px;
}

.social
{
    padding: 0 25px;
    max-width: 210px;
    height: 35px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.social ul
{    
	text-align: center;
    font-size: 0;
}

.social li
{
	margin: 2px 5px 5px;
    background: #bdd1df;
    border-radius: 50%;
}


.social li:hover
{
-webkit-box-shadow: 0 0 2px 1px #737CFF;
box-shadow: 0 0 2px 1px #737CFF;
}


.social li, .social li a {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.social li a {
    text-indent: -90000px;
    background-repeat: no-repeat;
    background-position: center;
}

.social li.emailaddress a {background-image: url("../images/layout/email.png");}
.social li.twitter a {background-image: url("../images/layout/twitter.png");}
.social li.facebook a {background-image: url("../images/layout/facebook.png");}
.social li.in a {background-image: url("../images/layout/linkedin.png");}


.row-fluid
{
    overflow: hidden;
    margin: auto;
    max-width: 1120px;
}

.row-fluid-cell
{
	height: 100%;
    width: 260px;
    margin-right: 20px;
    float: left;
    text-align: center;
}
.row-fluid-cell:nth-child(n+4)
{
margin-right: 0px;
}

.row-fluid-cell img
{
	max-height: 140px;
	max-width: 160px;
	margin-bottom: 50px;
}

.row-fluid-cell h2
{
font: 26px 'Titillium Web';
font-weight: bold;
margin-bottom: 15px;
}

.row-fluid-cell p
{
	font: 16px 'Titillium Web';
	font-weight: 300;
	text-align: center;
	padding: 0px 30px;
	margin-bottom: 30px;
}

.cold
{
	background-color: #e7f1f8;
}

.cold .more-info{width: 100%}

.cold h1, .cold p, .cold h2 {color: #3c4761;}

.photo
{
	width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #878787;
    margin: 25px auto 40px;
}

.photo img
{
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    height: 200px;
    width: 200px;
    margin: 0;
}

.profession {color: #30bae7; font-size: 16px; margin: -15px 0 20px 0;}

.white
{
background-color: #fff;
}

.white h1, .white p, .white h2 {color: #3c4761;}

.percent
{
width: 200px;
height: 200px;
border-radius: 50%;
border: 12px solid;
margin: 25px auto 40px auto;
font-size: 55px;
line-height: 3.5;
}

.yellow
{
background-color: #ffdd99;
}

.yellow h1, .yellow p, .yellow h2 {color: #393939;}

.yellow .more-info {width: 520px;}

.yellow .button
{
	background-color: #17c2a4;
	box-shadow:inset 0 -4px 0 0 #14a58c;
}




.tabs {
    position: relative;
    left: 30%;
    min-height: 360px;
    clear: both;
    padding-bottom: 140px;
    overflow: hidden;
    width: 540px;
}
.tab {
  float: left;
  padding-right: 10px;
}
.tab label {
    background: #ebc985;
    padding: 8px 25px;
    border-radius: 5px;
    margin-left: -1px;
    position: relative;
    left: 50%;
    line-height: 3;
    cursor: pointer;
}
.tab [type=radio] {
  display: none;
}
.content {
    display: inline-block;
    width: 540px;
    height: 360px;
    background: url("../images/layout/laptop.png") no-repeat #ffdd99;
    right: 0;
    bottom: 0;
    padding: 17px 0 0 66px;
}

.content img
{
	padding-bottom: 60px;
	max-height: 257px;
	max-width: 411px;
}

.content p
{ 
	text-transform: uppercase;
    text-align: center;
    width: 380px;
}

[type=radio]:checked ~ label {
background: white;
border-radius: 5px;
z-index: 2;
line-height: 3;
cursor: pointer;
}

[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}


.pink
{
background-color: #d74680;
}

.pink h1, .pink p, .pink h2 {color: #fff;}


.reviews-wrapper 
{ 
	min-height: 500px;
	max-width: 1120px;
	overflow: hidden;
	margin: auto;
}

.reviews
{
	width: 475px;
    float: left;
    padding: 0 0 110px 85px;
}

.reviews-photo
{
    float: left;
    width: 100px;
    height: 100px;
    background-color: #787878;
    border-radius: 50%;
}

.reviews-photo img
{
width: 100px;
height: 100px;
max-width: 100px;
max-height: 100px;
margin: 0;
border-radius: 50%;
}

.reviews p, .reviews h2
{
    padding-left: 150px;
}

.reviews h2
{
text-align: left;
}

.pink .yellow-firm
{
color: #ffcc99;
}


.blue
{
background-color: #3c5499;
}

.blue h1, .blue p, .blue h2 {color: #fff;}

.blue .button
{
	background-color: #30bae7;
	box-shadow:inset 0 -4px 0 0 #299ec5;
}

.blue .more-info {width: 100%;}

form
{
width: 880px;
margin: auto;
}

.name ,.email
{
width: 400px;
height: 55px;
padding-left: 20px;
margin-bottom: 30px;
background-color: #273a71;
border-radius: 5px;
border: none;
}

.name
{
margin-right: 20px;
}
.name ,.email, textarea{color: #fff;}

textarea 
{
resize:vertical;
width: 825px;
padding: 20px;
background-color: #273a71;
border-radius: 5px;
border: none;
min-height: 200px;
margin-bottom: 60px;
}

.name:focus, .name:hover, .email:focus, .email:hover, textarea:focus, textarea:hover
{
-webkit-box-shadow: 0 0 5px 1px #737CFF;
box-shadow: 0 0 5px 1px #737CFF;	
}

.dark_blue{background-color: #344b8e}

.footer
{
    width: 1120px;
    height: 115px;
    margin: auto;
    text-align: center; 
    overflow: hidden;
}

.footer a
{
    font-size: 24px;
    color: #fff;
    margin-left: 50px;
    line-height: 5;
}

.footer a:hover, .footer .active
{
    color: #33ccff;
}

.tablet {width: 1225px; margin-bottom: 25px;}

#tab2, #tab3 {position: fixed; }

.menu1 > a,
.menu1 #tab2:target ~ a:nth-of-type(1),
.menu1 #tab3:target ~ a:nth-of-type(1),
.menu1 #tab4:target ~ a:nth-of-type(1),
.menu1 > div { }

.menu1 > a 
{ 
    background: #ebc985;
    padding: 8px 25px;
    border-radius: 5px;
    position: relative;
    left: 38%;
    line-height: 3;
    color: #000;
}

#tab2, #tab3, #tab4, .menu1 > div,
.menu1 #tab2:target ~ div:nth-of-type(1),
.menu1 #tab3:target ~ div:nth-of-type(1) {display: none; }

.menu1 > div:nth-of-type(1),
.menu1 #tab2:target ~ div:nth-of-type(2),
.menu1 #tab3:target ~ div:nth-of-type(3),
.menu1 #tab4:target ~ div:nth-of-type(4) { display: block; }

.menu1 > a:nth-of-type(1),
.menu1 #tab2:target ~ a:nth-of-type(2),
.menu1 #tab3:target ~ a:nth-of-type(3),
.menu1 #tab4:target ~ a:nth-of-type(4) {background-color: #fff; }

/* Content
----------------------------------*/